<table class="table table-condensed table-striped table-bordered">
    <thead>
    <th>Rank</th>
    <th>RPC</th>
    <th>Route</th>
    <th>Category</th>
    <th># Received</th>
    </thead>
    <tbody>
    {{#each topList}}
        <tr>
            <td>{{rank}}</td>
            <td>{{{name}}}</td>
            <td>{{show-runner runner lockerName}}</td>
            <td>{{catag}}</td>
            <td>{{count}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>