<div class="modal fade event-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-uppercase"></h4>
            </div>
            <div class="modal-body rpc-events">
                <ul class="list-inline">
                    <li>
                        <div>
                            <strong>Date:</strong>
                            <span>{{event.dateTime}}</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>RPC:</strong>
                            <span>{{event.rpcName}}</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>Route:</strong>
                            {{show-runner event.runner event.lockerName}}
                        </div>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li>
                        <div>
                            <strong>Transaction ID:</strong>
                            <span>{{event.transactionId}}</span>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li>
                        <div>
                            <strong>IP Address:</strong>
                            <span>{{event.ipAddress}}</span>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline">
                    {{#if event.user}}
                    <li>
                        <div>
                            <strong>User:</strong>
                            <span>{{event.user.name}} ({{event.user.id}})</span>
                        </div>
                    </li>
                    {{/if}}
                    {{#if event.facility}}
                    <li>
                        <div>
                            <strong>Facility:</strong>
                            <span>{{event.facility.name}} ({{event.facility.id}} / {{event.facility.stationNumber}})</span>
                        </div>
                    </li>
                    {{/if}}
                </ul>
                <div>
                    <strong>Request</strong>
                    <pre><code>{{jsBeautify event.request}}</code></pre>
                </div>
                <div>
                    <strong>Response</strong>
                    <pre><code>{{event.response}}</code></pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>