<div class="modal fade event-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-uppercase"></h4>
            </div>
            <div class="modal-body">
                <ul class="list-inline">
                    <li>
                        <div>
                            <strong>Date:</strong>
                            <span>{{event.dateTime}}</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>Domain:</strong>
                            <span>{{event.domain}}</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>Type:</strong>
                            <span class="text-uppercase">{{event.type}}</span>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li>
                        <div>
                            <strong>Transaction ID:</strong>
                            <span>{{event.transactionId}}</span>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li>
                        <div>
                            <strong>User:</strong>
                            <span>{{event.user.name}} ({{event.user.id}})</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>Facility:</strong>
                            <span>{{event.facility.name}} ({{event.facility.id}} / {{event.facility.stationNumber}})</span>
                        </div>
                    </li>
                    <li>
                        {{#if event.patient}}
                            <div>
                                <strong>Patient:</strong>
                                <span>{{event.patient.label}} ({{event.patient.id}})</span>
                            </div>
                        {{/if}}
                    </li>
                </ul>
                <pre><code>{{eventDetails}}</code></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>